@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


footer {	
	padding: 10px 0;
	bottom: 0;
	background: #164A6D;
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100px;
	color: #e8e8e8;
}