@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}
body {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.navbar_side {
	font-size: 2rem;
	background: transparent;
	border-color: transparent;
	color: black;
	cursor: pointer;
}
.navbar_side:hover {
	color: grey;
}

.navbar_menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}
.navbar_menu li {
	padding: 8px 12px;
}

.navbar_user {
	font-size: 2rem;
	background: transparent;
	border-color: transparent;
	color: black;
	cursor: pointer;
}
.navbar_search {
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.navbar_clear {
	background: transparent;
	border-color: transparent;
	color: black;
	cursor: pointer;
}



@media screen and (max-width: 600px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar_menu {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.navbar_menu li {
		width: 100%;
		text-align: center;
	}
	.navbar_user {
		position: absolute;
		right: 5px;
		display: block;
	}
}




.ranking-wrapper {
    display: flex;
    width: 100%;
    max-width: 1300px; /* 레이아웃의 최대 너비 설정 */
    margin-top: 20px;
}

main{
	flex: 1;
	padding: 20px;
}
main img {
    max-width: 100%; /* 이미지가 메인 콘텐츠 너비에 맞게 조절되도록 설정 */
    height: auto;
    border-radius: 8px;
}



.rightside {
	width: 250px;
	padding: 20px;
	margin-left: 20px;
	background-color: #f1f1f1;
	box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}
.rightside h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.rightside ul {
    padding-left: 20px;
}
.rightside li {
    margin-bottom: 10px;
}

.ad{
	display: flex;
   	align-items: center;          /* 세로 중앙 정렬 */
   	justify-content: center;
	margin-bottom: 40px;
	gap: 10px;
	position: relative;
}
	
.ad i{
	top: 50%;
	transform: translateY(0%);
	font-size: 20px;     /* 아이콘 크기 */
   	color: #666;         /* 아이콘 색상 */
   	cursor: pointer;     /* 마우스 오버시 포인터 표시 */
}

.ad i:hover {
   	color: #333;        /* 호버시 색상 변경 */
}

.ad i.fa-chevron-left {
	left: 30px;               /* 왼쪽에서의 거리 */
}

	/* 오른쪽 화살표 */
.ad i.fa-chevron-right {
	right: 30px;              /* 오른쪽에서의 거리 */
}





.ranking {
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: center;
}
.ranking h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}
.ranking ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ranking li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #666;
}



.login_wrapper{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    width: 100%;
    max-width: 1300px; /* 레이아웃의 최대 너비 설정 */
    margin-top: 20px;
}





footer {	
	padding: 10px 0;
	bottom: 0;
	background: var(--clr-grey-3);
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100px;
}




